# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: sdummett <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/02/17 11:40:58 by sdummett          #+#    #+#              #
#    Updated: 2021/02/17 11:42:27 by sdummett         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

ft_main.c
*.swp
