# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: sdummett <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/03/06 14:09:55 by sdummett          #+#    #+#              #
#    Updated: 2021/03/06 14:10:31 by sdummett         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.out
*.gch
*.swp
